*{
  margin: 0px;
  padding: 0px;
}




/* src/components/Post.css */
.post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.field {
  margin-bottom: 15px;
}




/* navbar */
.navbar-div{
  width: 847px;
  height: 67px;
  top: 27px;
  left: 513px;
  gap: 0px;
  opacity: 0px;
  

}

.navbar-main{
  box-shadow: 0px 0px 10px 0px;

}
.categories{
  width: full;
  height: 60px;
  top: 120px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
background-color: #EEEEEE;



  
}






label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* swiper slider css */
/* index.css */
